{% extends "base/chat_base.html" %}
{% load static %}

{% block content %}

<div class="card-header text-black">
            <h5 class="mb-0">Update Profile</h5>
        </div>
<hr>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% for field in form %}
    <div class="mb-3">
      {{ field.label_tag }}
      {{ field }}
      {% if field.errors %}
        <div class="text-danger small">{{ field.errors|striptags }}</div>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Save Changes</button>
  <a href="{% url 'home' %}" class="btn btn-secondary px-4">Cancel</a>
</form>



{% endblock %}
